name: Build & Test

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-22.04
    steps:
    - uses: actions/checkout@v3

    - name: setup node
      uses: actions/setup-node@v3
      with:
        node-version: 18

    - name: Set up Go
      uses: actions/setup-go@v3
      with:
        go-version: 1.18

    - name: build
      run: ./scripts/build.sh
